<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zenhub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StarredReposActivity"
            android:label="@string/title_activity_starred_repos"
            android:parentActivityName=".UserDetailsActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".OwnReposActivity"
            android:label="@string/title_activity_own_repos"
            android:parentActivityName=".UserDetailsActivity"/>
        <activity
            android:name=".repodetails.RepoActivity"
            android:label="@string/title_activity_repo"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>